@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins' , sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    /*overflow: hidden;*/
    background: #fff;
    min-height: 100vh;
}

/* top bar */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
}
header.sticky{
    padding: 5px 100px;
    background: #111;
}
header .logo{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:#000;
    border-radius: 20px;
}
header ul li a:hover{
    background: rgb(12, 0, 173);
    color: #fff;
}
header.sticky .logo, #header.sticky ul li a{
    color: rgb(255, 255, 255);
}

/* its time for relaxing */

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* images */

.imgSec::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, #0171A7, transparent);
    z-index: 10;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section #text{
    position: absolute;
    color: rgb(11, 23, 126);
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Rancho', cursive;
}
section #text span{
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins' , sans-serif;
}

/* Article */

.bottomSection1{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-image: url("spring1.jpg");
    background-size: cover;  
}
.bottomSection2{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-image: url("summer1.jpg");
    background-size: cover;
}
.bottomSection3{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-image: url("fall1.jpg");
    background-size: cover;
}
.bottomSection4{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-image: url("winter1.jpg");
    background-size: cover;
}
section .container{
    margin: 100px;
}
section .text2{
    font-size: 60px;
    font-family: Fredoka One;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}
section .cards{
    display: flex;
}
section .cards .text-card{
    background-size: cover;
    border: 0.1rem solid white;
    margin: 20px;
    padding: 20px;
    width: 400px;
    height: 300px;
    z-index: 1;
}
section .cards .text-card a{
    font-family:Arial, Helvetica, sans-serif bold;
    font-style: bold;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    padding: 6px 15px;
    color:#000;
    border-radius: 20px;
    background:rgba(255, 255, 255, 0.63);
}
section .cards .text-card a:hover{
    background: rgba(0, 0, 0, 0.596);
    color: #fff;
}
#Garden{
    background:url("Garden.jpeg");
    background-size: cover;
}
#Picnic{
    background: url("picnic.jpg");
    background-size: cover;
}
#Lake{
    background: url("Lake.jpg");
    background-size: cover;
}
#beach{
    background: url("beach.jpg");
    background-size: cover;   
}
#desert{
    background: url("desert.jpg");
    background-size: cover;
}
#mountains{
    background: url("mountains.jpg");
    background-size: cover;
}
#jungle{
    background: url("jungle.jpg");
    background-size: cover;
}
#road{
    background: url("road.jpg");
    background-size: cover;
}
#lake1{
    background: url("lake1.jpg");
    background-size: cover;
}
#mountains1{
    background: url("mountains1.jpg");
    background-size: cover;
}
#fireplace{
    background: url("fireplace.jpg");
    background-size: cover;
}
#storm{
    background: url("storm.jpg");
    background-size: cover;
}
footer{
    background: #111;
    height: auto;
    width: 98.9vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 98.9vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* Media for right menu */

@media (max-width: 991px){
    header,
    header.sticky{
        padding: 10px 20px;
        overflow: hidden;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.952);
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        text-decoration: none;
        color: #fff;
        font-size: 2em;
        font-weight: 400; 
    }
    .menu{
        position: relative;
        width: 50px;
        height: 50px;
        background:url("menu.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menu.active{
        background: url("close.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menu{
        filter: invert(1);
    }
    header .logo {
        font-size: 1.8em;
    }

    /* Body For Mobile */

    /* section{
        height: 70vh;
        display: flex;
    }
    .imgSec{
        margin-top: 100px;
    }
    #cloudLeft,#cloudRight{
        display: none;
    }
    section #text{
        font-size: 20vw;
    }
    section .container{
        display: flex;
        flex-direction: column;
    }
    section .cards{
        display: flex;
        flex-direction: column;
        height: 70vh;
        width: 20vh;
        padding-right: 58vh;
    } 
    footer{
        overflow: hidden;
    } */
    .imgSec #text{
     font-size: 100px;
    }
    .container{
        display: grid;
        box-sizing: border-box;
       
    }
    .container .cards{
        width: 70%;  
        padding-right: 10%;
        display: flex;
        flex-direction: column; 
        
    }
    .container .cards .text-card{
        width: 140%;
        height: 50%;
        display: flex;
        flex-direction: column;
        
    }
}